.contact-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
}

h1 {
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

label {
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #262627;
}

.faq-container {
  margin-top: 40px;
  
}

h2 {
  text-align: center;
}

.accordion-item {
  margin-top: 10px;
}

.accordion-item-toggle {
  display: none;
}

.accordion-item-title {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-item-content {
  display: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.accordion-item-toggle:checked ~ .accordion-item-content {
  display: block;
}
