.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  font-size: 1.2rem;
}

.navbar-container {
  max-width: 1500px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  justify-self: start;
  margin-left: 20px;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.fa-cogs {
  font-size: 1.8rem;
  margin-left: 0.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  width: 60vw;
  justify-content: flex-end;
  text-align: center;
  margin-right: 2rem;
  list-style: none;
}

.nav-item {
  height: 80px;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #fff;
}

.nav-links:hover {
  border-top: 8px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}
